*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.container_main{
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}
.main_wrapper{
    background-image: url('../images/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    max-width: 1440px;
    margin: 0 auto;
}
.header_wrapper{
    padding: 48px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_link{
    display: flex;
    align-items: center;
}
.nav_link .nav_item a{
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_burger{
    display: none;
    cursor: pointer;
}
.nav_item{
    margin-left: 40px;
}
/* home start */
.home{
    padding-top: 155px;
    text-align: center;
}
.home_in{
    padding-bottom: 274px;
}
.home_wrapper h1{
    margin: 24px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #FFFFFF;
}
.home_wrapper p{
    max-width: 763px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}
.home_btn{
    display: inline-block;
    margin-top: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #fff;
    padding: 5px 35px;
    transition: all 0.7s ease;
}
.home_btn:hover{
    color: #000;
    background-color: #fff;
}
/* home end */

/* about start */
.about_wrapper{
    padding: 96px 0;
    background-image: url('../images/about_bg.png');
    background-repeat: no-repeat;
    background-position: center;
}
.about_in{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_in_left .about_in_card{
    display: flex;
    align-items: center;
    margin: 48px 0;
}
.about_in_left .about_in_card_text{
    margin-right: 16px;
}
.about_in_card h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}
.about_in_card p{
    max-width: 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: #000000;
}
.about_in_right .about_in_card{
    display: flex;
    align-items: center;
    margin: 48px 0;
}
.about_in_right .about_in_card_img{
    order: 1;
}
.about_in_right .about_in_card_text{
    margin-left: 16px;
    order: 2;
}
.about_in_right .about_in_card h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
}
.about_in_right  .about_in_card p{
    max-width: 272px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    color: #000000;
}
/* about end */

/* fresh_coffee start */
.fresh_coffee_wrapper{
    background-image: url('../images/fresh_coffee_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.fresh_coffee_in{
    padding: 96px 0;
    text-align: center;
}
.fresh_coffee_in h1{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.fresh_coffee_in_line{
    display: block;
    margin: 0 auto;
    max-width: 189px;
    height: 1px;
    background-color: #fff;
}
.fresh_coffee_in p{
    max-width: 474px;
    margin: 0 auto;
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.fresh_coffee_in .fresh_coffee_btn{
    display: inline-block;
    margin-top: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #fff;
    padding: 5px 35px;
    transition: all 0.7s ease;
}
.fresh_coffee_in .fresh_coffee_btn:hover{
    color: #000;
    background-color: #fff;
}
/* fresh_coffee end */

/* menu start */
.menu_title{
    padding-top: 96px;
    text-align: center;
}
.menu_title h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.menu_in_line{
    display: block;
    width: 189px;
    margin: 24px auto;
    height: 1px;
    background-color: #000;
}
.menu_title p{
    max-width: 474px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.menu_tabs{
    margin: 48px auto;
}
.menu_tab{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    transition: all .7s ease;
    margin: 0 20px;
}
.menu_tab:hover{
    text-decoration-line: underline;
}
.menu_in{
    display: flex;
    padding-bottom: 100px;
}
.menu_in_left{
    margin-right: 30px;
    flex: 1;
}
.menu_in_right{
    flex: 1;
}
.menu_in_left .menu_card{
    position: relative;
    display: flex;
    margin: 12px 0;
}
.manu_card_text_top{
    display: flex;
    align-items: center;
    max-width: 85%;
}

.menu_in_right .menu_card{
    display: flex;
    margin: 12px 0;
    position: relative;
}
.manu_card_text_top h4{
    position: absolute;
    right: 0;
    top: 0;
}
.menu_in_right .manu_card_text_top h4{
    position: absolute;
    right: 0;
    top: 0;
}
.manu_card_text{
    margin-left: 24px;
}
.manu_card_text_top h3{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}
.manu_card_text_top h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;    
}
.manu_card_text p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}
/* menu end */


/* testimonials start */
.testimonials{
    background-image: url('../images/testimonials_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.testimonials_in{
    padding: 96px 0;
}
.testimonials_in h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}
.testimonials_in_line{
    margin: 24px auto 48px auto;
    display: block;
    width: 189px;
    height: 1px;
    background-color: #fff;
}
.testimonials_in p{
    max-width: 735px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
/* testimonials end */

/* news start */
.news_title{
    padding-top: 97px;
    text-align: center;
    padding-bottom: 48px;
}
.news_title h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.news_in_line{
    display: block;
    width: 189px;
    margin: 24px auto;
    height: 1px;
    background-color: #000;
}
.news_title p{
    max-width: 474px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
}
.news_in{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 96px;
}
.news_card{
    width: 320px;
}
.news_card img{
    width: 100%;
    height: 288px;
}
.news_card h4{
    margin-top: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;    
}
.news_card p{
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.news_btn{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}
.news_btn::before{
    content: '';
    width: 12px;
    height: 1px;
    background-color: #000;
}
/* news end */

/* location start */
.location{
    background-image: url('../images/locations_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.location_title{
    padding-top: 97px;
    text-align: center;
    padding-bottom: 48px;
}
.location_title h2{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
}
.location_in_line{
    display: block;
    width: 189px;
    margin: 24px auto;
    height: 1px;
    background-color: #fffdfd;
}
.location_title p{
    max-width: 474px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.location_in{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 96px;
}
.location_card{
    width: 256px;
    text-align: center;
}
.location_card h4{
    margin: 24px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #FFFFFF;
}
.location_card p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
/* location end */
@media only screen and (max-width: 1024px){
    /* header start */
    .header_burger{
        display: block;
    }
    .nav{
        display: none;
    }
    /* header end */
}
@media only screen and (max-width: 1000px){
    .news_in{
        justify-content: space-around;
    }
    .news_card{
        margin-bottom: 24px;
    }
}
@media only screen and (max-width: 808px){
    .location_in{
        justify-content: space-around;
    }
    .location_card{
        margin-bottom: 25px;
    }
}
@media only screen and (max-width: 768px){
    /* home start */
    .home_wrapper h1{
        font-size: 40px;
        line-height: 96px;
    }
    .home_wrapper p{
        font-size: 24px;
        line-height: 48px;
    }
    /* home end */

    /* about start */
    .about_wrapper{
        background-image: url('../images/about_bg_tablet.png');
        background-position: right;
    }
    .about_in_left .about_in_card{
        margin: 0 0 48px 0;
    }
    .about_in_right .about_in_card{
        margin: 0 0 48px 0;
    }
    .about_in{
        flex-direction: column;
        align-items: start;
    }
    .about_in_left .about_in_card_img{
        order: 1;
    }
    .about_in_left .about_in_card_text{
        order: 2;
        margin-right: 0;
        margin-left: 16px;
    }
    .about_in_left .about_in_card_text h3{
        text-align: left;
    }
    .about_in_left .about_in_card_text p{
        text-align: left;
    }
    /* about end */

    /* menu start */
    .menu_in{
        flex-direction: column;
    }
    .menu_in_left{
        margin-right: 0px;
    }
    /* menu end */

    /* news start */
    .news_card{
        width: 100%;
    }
    .news_card img{
        height: 450px;
    }
    /* news end */
}
@media only screen and (max-width: 450px){
    .home_wrapper h1 {
        line-height: 50px;
    }
    .home_wrapper p {
        font-size: 18px;
        line-height: 30px;
    }
    .news_card img{
        height: 288px;
    }
    .home{
        padding-top: 100px;
    }
    .home_in {
        padding-bottom: 100px;
    }
}